<%
settings   = tab[:settings]
custfields = tab[:custfields]
if custfields.present?
  custfields.each do |cf| %>
  <p>
      <label><%= cf.name %></label>
      <%= check_box_tag 'settings[issue_cf_notifications][]', cf.id.to_s,
          (settings[:issue_cf_notifications] && settings[:issue_cf_notifications].any?) ?
               settings[:issue_cf_notifications].include?(cf.id.to_s) : false %>
      <br />
  </p>
  <% end %>  
<% end %>