<p>
  <label><%= l(:enable_event_notifications_settings) %></label>
  <%= check_box_tag 'settings[enable_event_notifications]', nil, settings['enable_event_notifications'] %>
  <br />
  <em><%= l(:enable_event_notifications_settings_description) %></em>
</p>